body {
  font-family: Arial, sans-serif;
  background-color: #FFFAF0;
  background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.controller {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.button {
  font-size: 1.5rem;
  padding: 50px;
  margin: 10px;
  background-color: hsl(120, 76%, 61%);
  border: none;
  border-radius: 50%;
  color: #FFF;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #50ff7f;
}

.button:active {
  background-color: #50ff7f;
}
